header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

header.is-hidden {
  transform: translateY(-100%);
}

header.is-visible {
  transform: translateY(0);
}

.is-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.is-scrolling-up {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: top 0.3s ease;
}

.menu-links .menu-link-item > .menu-link {
    text-decoration: none;
}

.menu-icon-links .menu-link-item > .menu-link svg {
  width: 24px;
  height: 24px;
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 9999px;
  line-height: 1;
  font-weight: bold;
}

.dropdown-megamenu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden;
  z-index: 1000;
}

.dropdown-megamenu.show {
  display: block;
  opacity: 1;
  visibility: visible;
}
